## «*El mundo exige resultados. No cuentes a otros tus dolores del parto. Muéstrales al niño.*»

### [Indira Gandhi](https://es.wikipedia.org/wiki/Indira_Gandhi)

# ppi_SI_06_Pandas

Actividad individual.

Utilice el dataset seleccionado en **SI01 Repositorio csv de Kaggle**.

Diligencie las casillas indicadas siguiendo las normas de estilo del PEP8.

# NOTA
*   Se agregó título a la primera columna "Índice"
*   Se añadieron 0 en los espacios vacíos y en los valores N/A
*   Se cambiaron las , por ;

# Preparación del ejercicio

*   Importe las librerías requeridas
*   Lea el dataset a utilizar desde una url

Sugerencia: suba el dataset a Googledrive y luego publíquelo como página web. El siguiente enlace le indica cómo hacerlo: [Cómo publicar archivos de Documentos, Hojas de cálculo, Presentaciones y Formularios de Google](https://support.google.com/docs/answer/183965?hl=es-419&co=GENIE.Platform%3DDesktop).

Nota: si lo desea puede utilizar otro método para obtener la url del dataset.

In [ ]:
# Importar las librerías necesarias
import pandas as pd
import numpy as np

# Código para instalar npep8 en Google Colab.
!pip install pycodestyle
!pip install --index-url https://test.pypi.org/simple/ nbpep8
from nbpep8.nbpep8 import pep8

# Conocer la versiones de las librerías instaladas
print(f'Versión de pandas: {pd.__version__}')
print(f'Versión de NumPy: {np.__version__}')

# Guardar en la variable 'ruta' la url del dataset
ruta = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTQhpVFGQHgTIEf0DX2c24PPtal6Pl-Ro-x0MAM_8NEcKT7WNgOUsG7dWuwK91BiXv2QQUWaTREGPky/pub?output=csv"

# Cargar el dataset a partir de la ruta establecida
peliculas_disney = pd.read_csv(ruta)

# Verificar la lectura del dataset
print(peliculas_disney)
pep8(_ih)

Requirement already satisfied: pycodestyle in /usr/local/lib/python3.10/dist-packages (2.11.0)
Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: nbpep8 in /usr/local/lib/python3.10/dist-packages (0.0.15)
Versión de pandas: 1.5.3
Versión de NumPy: 1.23.5
     Índice                            title  \
0         0          Academy Award Review of
1         1  Snow White and the Seven Dwarfs
2         2                        Pinocchio
3         3                         Fantasia
4         4             The Reluctant Dragon
..      ...                              ...
424     427                             Soul
425     428         Raya and the Last Dragon
426     429                          Cruella
427     430                    Jungle Cruise
428     431            The Beatles: Get Back

                                    Production company  \
0                              Walt Disney Productions
1                              Walt Disney Productions
2                              Walt Disney Productions
3                              Walt Disney Productions
4                              Walt Disney Productions
..                                                 ...
424  ('Walt Disney Pictures'; 'Pixar Animation Stud...
425  ('Walt Disney Pictures'; 'Walt Disney Animatio...
426  ('Walt Disney Pictures'; 'Gunn Films'; 'Marc P...
427  ('Walt Disney Pictures'; 'Davis Entertainment'...
428                                                  0

                                          Release date Running time  \
0                                     ('May 19; 1937')           41
1    ('December 21; 1937 ( Carthay Circle Theatre ;...           83
2    ('February 7; 1940 ( Center Theatre )'; 'Febru...           88
3                                ('November 13; 1940')          126
4                                    ('June 20; 1941')           74
..                                                 ...          ...
424  ('October 15; 2020 ( Rome Film Festival )'; 'N...            0
425                                 ('March 12; 2021')            0
426                   ('May 28; 2021 (United States)')            0
427                  ('July 30; 2021 (United States)')            0
428                                 ('27 August 2021')            0

                                               Country Language  \
0                                        United States  English
1                                        United States  English
2                                        United States  English
3                                        United States  English
4                                        United States  English
..                                                 ...      ...
424                                      United States  English
425                                      United States  English
426                                      United States  English
427                                      United States  English
428  ('United Kingdom'; 'New Zealand'; 'United Stat...  English

     Running time (int)  Budget (float) Box office (float)  ...  \
0                  41.0             0.0                  0  ...
1                  83.0       1490000.0        418000000.0  ...
2                  88.0       2600000.0        164000000.0  ...
3                 126.0       2280000.0         83300000.0  ...
4                  74.0        600000.0           960000.0  ...
..                  ...             ...                ...  ...
424                 0.0     150000000.0                  0  ...
425                 0.0             0.0                  0  ...
426                 0.0             0.0                  0  ...
427                 0.0             0.0                  0  ...
428                 0.0             0.0                  0  ...

            Budget                    Box office   Narrated by  \
0                0                             0             0
1    $1.49 million                  $418 million             0
2     $2.6 million                  $164 million             0
3    $2.28 million           $76.4–$83.3 million  Deems Taylor
4         $600;000  $960;000 (worldwide rentals)             0
..             ...                           ...           ...
424  $150 million+                             0             0
425              0                             0             0
426              0                             0             0
427              0                             0             0
428              0                             0             0

           Cinematography          Edited by  \
0                       0                  0
1                       0                  0
2                       0                  0
3         James Wong Howe                  0
4            Bert Giennon    Paul Weatherwax
..                    ...                ...
424                     0                  0
425                     0                  0
426  Nicolas Karakatsanis  Tatiana S. Riegel
427        Flavio Labiano        Joel Negron
428                     0       Jabez Olssen

                                         Screenplay by  \
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
424       ('Pete Docter'; 'Mike Jones'; 'Kemp Powers')
425                                                  0
426  ('Aline Brosh McKenna'; 'Jez Butterworth'; 'Da...
427   ('Michael Green'; 'Glenn Ficarra'; 'John Requa')
428                                                  0

                                  Production companies Adaptation by  \
0                                                    0             0
1                                                    0             0
2                                                    0             0
3                                                    0             0
4                                                    0             0
..                                                 ...           ...
424                                                  0             0
425                                                  0             0
426                                                  0             0
427                                                  0             0
428  ('Walt Disney Pictures'; 'Apple Corps'; 'WingN...             0

    Traditional Simplified
0             0          0
1             0          0
2             0          0
3             0          0
4             0          0
..          ...        ...
424           0          0
425           0          0
426           0          0
427           0          0
428           0          0

[429 rows x 31 columns]
cell_content.py:7:80: E501 line too long (84 > 79 characters)
cell_content.py:8:1: E402 module level import not at top of file
cell_content.py:15:80: E501 line too long (151 > 79 characters)

# Explorar el dataset

Muestre las principales características del dataset utilizando pandas.

En particular muestre los nombres de las columnas y sus tipos; el índice del dataset; la forma del dataset.

In [ ]:
# Muestra los nombres de las columnas
columnas = peliculas_disney.columns
print("Nombres de las columnas:")
print(columnas)

# Muestra los tipos de datos de las columnas
tipos_de_datos = peliculas_disney.dtypes
print("\nTipos de datos de las columnas:")
print(tipos_de_datos)

# Muestra el índice del dataset
indice = peliculas_disney.index
print("\nÍndice del dataset:")
print(indice)

# Muestra la forma del dataset (número de filas y columnas)
forma = peliculas_disney.shape
print("\nForma del dataset (filas, columnas):")
print(forma)

Nombres de las columnas:
Index(['Índice', 'title', 'Production company', 'Release date', 'Running time',
       'Country', 'Language', 'Running time (int)', 'Budget (float)',
       'Box office (float)', 'Release date (datetime)', 'imdb', 'metascore',
       'rotten_tomatoes', 'Directed by', 'Produced by', 'Written by',
       'Based on', 'Starring', 'Music by', 'Distributed by', 'Budget',
       'Box office', 'Narrated by', 'Cinematography', 'Edited by',
       'Screenplay by', 'Production companies', 'Adaptation by', 'Traditional',
       'Simplified'],
      dtype='object')

Tipos de datos de las columnas:
Índice                       int64
title                       object
Production company          object
Release date                object
Running time                object
Country                     object
Language                    object
Running time (int)         float64
Budget (float)             float64
Box office (float)          object
Release date (datetime)     object
imdb                       float64
metascore                    int64
rotten_tomatoes             object
Directed by                 object
Produced by                 object
Written by                  object
Based on                    object
Starring                    object
Music by                    object
Distributed by              object
Budget                      object
Box office                  object
Narrated by                 object
Cinematography              object
Edited by                   object
Screenplay by               object
Production companies        object
Adaptation by               object
Traditional                 object
Simplified                  object
dtype: object

Índice del dataset:
RangeIndex(start=0, stop=429, step=1)

Forma del dataset (filas, columnas):
(429, 31)

# Transformar el dataset

## df_00

Cree el df_00 con las siguientes características:

Diez columnas (dentro de las diez columnas deben estar la primera y la última columna del dataset original).

Diez filas (las filas deben corresponder a las cinco primeras filas y las cinco últimas filas del dataset original).

Muestre el resultado y las características del DataFrame.

In [ ]:
# Obtiene las cinco primeras filas del DataFrame original
cinco_primeras_filas = peliculas_disney.head(5)

# Obtiene las cinco últimas filas del DataFrame original
cinco_ultimas_filas = peliculas_disney.tail(5)

# Concatena las dos partes para obtener diez filas en total
df_00 = pd.concat([cinco_primeras_filas, cinco_ultimas_filas])

# Selecciona las diez columnas requeridas (primera y última columna del \
# dataset original más ocho adicionales)
columnas_seleccionadas = (
    peliculas_disney.columns[0:1].tolist() +
    peliculas_disney.columns[-1:].tolist() +
    peliculas_disney.columns[1:9].tolist()
)
df_00 = df_00[columnas_seleccionadas]

# Muestra el resultado
print(df_00)

# Muestra las características del DataFrame df_00
print("\nCaracterísticas del DataFrame df_00:")
print(f"Nombres de las columnas: {df_00.columns}")
print(f"Tipos de datos de las columnas:\n{df_00.dtypes}")
print(f"Índice del DataFrame: {df_00.index}")
print(f"Forma del DataFrame (filas, columnas): {df_00.shape}")
pep8(_ih)

     Índice Simplified                            title  \
0         0          0          Academy Award Review of
1         1          0  Snow White and the Seven Dwarfs
2         2          0                        Pinocchio
3         3          0                         Fantasia
4         4          0             The Reluctant Dragon
424     427          0                             Soul
425     428          0         Raya and the Last Dragon
426     429          0                          Cruella
427     430          0                    Jungle Cruise
428     431          0            The Beatles: Get Back

                                    Production company  \
0                              Walt Disney Productions
1                              Walt Disney Productions
2                              Walt Disney Productions
3                              Walt Disney Productions
4                              Walt Disney Productions
424  ('Walt Disney Pictures'; 'Pixar Animation Stud...
425  ('Walt Disney Pictures'; 'Walt Disney Animatio...
426  ('Walt Disney Pictures'; 'Gunn Films'; 'Marc P...
427  ('Walt Disney Pictures'; 'Davis Entertainment'...
428                                                  0

                                          Release date Running time  \
0                                     ('May 19; 1937')           41
1    ('December 21; 1937 ( Carthay Circle Theatre ;...           83
2    ('February 7; 1940 ( Center Theatre )'; 'Febru...           88
3                                ('November 13; 1940')          126
4                                    ('June 20; 1941')           74
424  ('October 15; 2020 ( Rome Film Festival )'; 'N...            0
425                                 ('March 12; 2021')            0
426                   ('May 28; 2021 (United States)')            0
427                  ('July 30; 2021 (United States)')            0
428                                 ('27 August 2021')            0

                                               Country Language  \
0                                        United States  English
1                                        United States  English
2                                        United States  English
3                                        United States  English
4                                        United States  English
424                                      United States  English
425                                      United States  English
426                                      United States  English
427                                      United States  English
428  ('United Kingdom'; 'New Zealand'; 'United Stat...  English

     Running time (int)  Budget (float)
0                  41.0             0.0
1                  83.0       1490000.0
2                  88.0       2600000.0
3                 126.0       2280000.0
4                  74.0        600000.0
424                 0.0     150000000.0
425                 0.0             0.0
426                 0.0             0.0
427                 0.0             0.0
428                 0.0             0.0

Características del DataFrame df_00:
Nombres de las columnas: Index(['Índice', 'Simplified', 'title', 'Production company', 'Release date',
       'Running time', 'Country', 'Language', 'Running time (int)',
       'Budget (float)'],
      dtype='object')
Tipos de datos de las columnas:
Índice                  int64
Simplified             object
title                  object
Production company     object
Release date           object
Running time           object
Country                object
Language               object
Running time (int)    float64
Budget (float)        float64
dtype: object
Índice del DataFrame: Int64Index([0, 1, 2, 3, 4, 424, 425, 426, 427, 428], dtype='int64')
Forma del DataFrame (filas, columnas): (10, 10)

## df_01

Modifique el índice del df_00 creado en el paso anterior.

Opción 1: utilice una de las columnas de df_00 como el nuevo índice.

Opción 2: cree el índice a partir de una secuencia cronológica.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Se utiliza la columna Índice como nuevo índice
df_01 = df_00.set_index('Índice')

# Muestra el resultado
print(df_01)

# Muestra las características del DataFrame df_01
print("\nCaracterísticas del DataFrame df_01:")
print(f"Nombres de las columnas: {df_01.columns}")
print(f"Índice del DataFrame: {df_01.index}")
print(f"Forma del DataFrame (filas, columnas): {df_01.shape}")
pep8(_ih)

       Simplified                            title  \
Índice
0               0          Academy Award Review of
1               0  Snow White and the Seven Dwarfs
2               0                        Pinocchio
3               0                         Fantasia
4               0             The Reluctant Dragon
427             0                             Soul
428             0         Raya and the Last Dragon
429             0                          Cruella
430             0                    Jungle Cruise
431             0            The Beatles: Get Back

                                       Production company  \
Índice
0                                 Walt Disney Productions
1                                 Walt Disney Productions
2                                 Walt Disney Productions
3                                 Walt Disney Productions
4                                 Walt Disney Productions
427     ('Walt Disney Pictures'; 'Pixar Animation Stud...
428     ('Walt Disney Pictures'; 'Walt Disney Animatio...
429     ('Walt Disney Pictures'; 'Gunn Films'; 'Marc P...
430     ('Walt Disney Pictures'; 'Davis Entertainment'...
431                                                     0

                                             Release date Running time  \
Índice
0                                        ('May 19; 1937')           41
1       ('December 21; 1937 ( Carthay Circle Theatre ;...           83
2       ('February 7; 1940 ( Center Theatre )'; 'Febru...           88
3                                   ('November 13; 1940')          126
4                                       ('June 20; 1941')           74
427     ('October 15; 2020 ( Rome Film Festival )'; 'N...            0
428                                    ('March 12; 2021')            0
429                      ('May 28; 2021 (United States)')            0
430                     ('July 30; 2021 (United States)')            0
431                                    ('27 August 2021')            0

                                                  Country Language  \
Índice
0                                           United States  English
1                                           United States  English
2                                           United States  English
3                                           United States  English
4                                           United States  English
427                                         United States  English
428                                         United States  English
429                                         United States  English
430                                         United States  English
431     ('United Kingdom'; 'New Zealand'; 'United Stat...  English

        Running time (int)  Budget (float)
Índice
0                     41.0             0.0
1                     83.0       1490000.0
2                     88.0       2600000.0
3                    126.0       2280000.0
4                     74.0        600000.0
427                    0.0     150000000.0
428                    0.0             0.0
429                    0.0             0.0
430                    0.0             0.0
431                    0.0             0.0

Características del DataFrame df_01:
Nombres de las columnas: Index(['Simplified', 'title', 'Production company', 'Release date',
       'Running time', 'Country', 'Language', 'Running time (int)',
       'Budget (float)'],
      dtype='object')
Índice del DataFrame: Int64Index([0, 1, 2, 3, 4, 427, 428, 429, 430, 431], dtype='int64', name='Índice')
Forma del DataFrame (filas, columnas): (10, 9)

## df_02

Cambie los nombres de las columnas de df_01 a "Primera", "segunda", etcétera.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Crea un diccionario que mapea los nombres actuales de las columnas a \
# los nuevos nombres
nombres_columnas_nuevos = {
    'Simplified': 'Primera',
    'title': 'Segunda',
    'Production company': 'Tercera',
    'Release date': 'Cuarta',
    'Running time': 'Quinta',
    'Country': 'Sexta',
    'Language': 'Séptima',
    'Running time (int)': 'Octava',
    'Budget (float)': 'Novena',
}

# Renombra las columnas utilizando el diccionario
df_02 = df_01.copy()
df_02.rename(columns=nombres_columnas_nuevos, inplace=True)

# Muestra el resultado
print(df_02)

# Muestra las características del DataFrame df_02
print("\nCaracterísticas del DataFrame df_02:")
print(f"Nombres de las columnas: {df_02.columns}")
print(f"Índice del DataFrame: {df_02.index}")
print(f"Forma del DataFrame (filas, columnas): {df_02.shape}")
pep8(_ih)

       Primera                          Segunda  \
Índice
0            0          Academy Award Review of
1            0  Snow White and the Seven Dwarfs
2            0                        Pinocchio
3            0                         Fantasia
4            0             The Reluctant Dragon
427          0                             Soul
428          0         Raya and the Last Dragon
429          0                          Cruella
430          0                    Jungle Cruise
431          0            The Beatles: Get Back

                                                  Tercera  \
Índice
0                                 Walt Disney Productions
1                                 Walt Disney Productions
2                                 Walt Disney Productions
3                                 Walt Disney Productions
4                                 Walt Disney Productions
427     ('Walt Disney Pictures'; 'Pixar Animation Stud...
428     ('Walt Disney Pictures'; 'Walt Disney Animatio...
429     ('Walt Disney Pictures'; 'Gunn Films'; 'Marc P...
430     ('Walt Disney Pictures'; 'Davis Entertainment'...
431                                                     0

                                                   Cuarta Quinta  \
Índice
0                                        ('May 19; 1937')     41
1       ('December 21; 1937 ( Carthay Circle Theatre ;...     83
2       ('February 7; 1940 ( Center Theatre )'; 'Febru...     88
3                                   ('November 13; 1940')    126
4                                       ('June 20; 1941')     74
427     ('October 15; 2020 ( Rome Film Festival )'; 'N...      0
428                                    ('March 12; 2021')      0
429                      ('May 28; 2021 (United States)')      0
430                     ('July 30; 2021 (United States)')      0
431                                    ('27 August 2021')      0

                                                    Sexta  Séptima  Octava  \
Índice
0                                           United States  English    41.0
1                                           United States  English    83.0
2                                           United States  English    88.0
3                                           United States  English   126.0
4                                           United States  English    74.0
427                                         United States  English     0.0
428                                         United States  English     0.0
429                                         United States  English     0.0
430                                         United States  English     0.0
431     ('United Kingdom'; 'New Zealand'; 'United Stat...  English     0.0

             Novena
Índice
0               0.0
1         1490000.0
2         2600000.0
3         2280000.0
4          600000.0
427     150000000.0
428             0.0
429             0.0
430             0.0
431             0.0

Características del DataFrame df_02:
Nombres de las columnas: Index(['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Séptima',
       'Octava', 'Novena'],
      dtype='object')
Índice del DataFrame: Int64Index([0, 1, 2, 3, 4, 427, 428, 429, 430, 431], dtype='int64', name='Índice')
Forma del DataFrame (filas, columnas): (10, 9)

## df_03

Utilizando el método **loc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de df_02.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Utiliza el método loc para seleccionar elementos específicos
df_03 = df_02.loc[2:427, ['Cuarta', 'Quinta', 'Octava']]

# Muestra el resultado
print(df_03)

# Muestra las características del DataFrame df_03
print("\nCaracterísticas del DataFrame df_03:")
print(f"Nombres de las columnas: {df_03.columns}")
print(f"Índice del DataFrame: {df_03.index}")
print(f"Forma del DataFrame (filas, columnas): {df_03.shape}")
pep8(_ih)

                                                   Cuarta Quinta  Octava
Índice
2       ('February 7; 1940 ( Center Theatre )'; 'Febru...     88    88.0
3                                   ('November 13; 1940')    126   126.0
4                                       ('June 20; 1941')     74    74.0
427     ('October 15; 2020 ( Rome Film Festival )'; 'N...      0     0.0

Características del DataFrame df_03:
Nombres de las columnas: Index(['Cuarta', 'Quinta', 'Octava'], dtype='object')
Índice del DataFrame: Int64Index([2, 3, 4, 427], dtype='int64', name='Índice')
Forma del DataFrame (filas, columnas): (4, 3)

## df_04

Utilizando el método **iloc** seleccione los elementos que se encuentran entre la tercera y la sexta fila y en las columnas cuarta, quinta y octava de df_02.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Utiliza el método iloc para seleccionar elementos específicos
df_04 = df_02.iloc[[2, 3, 4, 5], [3, 4, 7]]

# Muestra el resultado
print(df_04)

# Muestra las características del DataFrame df_04
print("\nCaracterísticas del DataFrame df_04:")
print(f"Nombres de las columnas: {df_04.columns}")
print(f"Índice del DataFrame: {df_04.index}")
print(f"Forma del DataFrame (filas, columnas): {df_04.shape}")
pep8(_ih)

                                                   Cuarta Quinta  Octava
Índice
2       ('February 7; 1940 ( Center Theatre )'; 'Febru...     88    88.0
3                                   ('November 13; 1940')    126   126.0
4                                       ('June 20; 1941')     74    74.0
427     ('October 15; 2020 ( Rome Film Festival )'; 'N...      0     0.0

Características del DataFrame df_04:
Nombres de las columnas: Index(['Cuarta', 'Quinta', 'Octava'], dtype='object')
Índice del DataFrame: Int64Index([2, 3, 4, 427], dtype='int64', name='Índice')
Forma del DataFrame (filas, columnas): (4, 3)

## df_05

Calcule el promedio de una de las columnas numéricas de df_02.

Cree el DataFrame df_05 conservando todas las columnas de df_02 y seleccionando los valores superiores al promedio en la columna numérica que tomó como referencia para el ejercicio.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Calcula el promedio de la columna numérica de referencia
promedio = df_02['Octava'].mean()

# Crea df_05 seleccionando valores superiores al promedio de la columna \
# de referencia
df_05 = df_02[df_02['Octava'] > promedio]

# Muestra el resultado
print(df_05)

# Muestra las características del DataFrame df_05
print("\nCaracterísticas del DataFrame df_05:")
print(f"Nombres de las columnas: {df_05.columns}")
print(f"Índice del DataFrame: {df_05.index}")
print(f"Forma del DataFrame (filas, columnas): {df_05.shape}")
pep8(_ih)

       Primera                          Segunda                  Tercera  \
Índice
1            0  Snow White and the Seven Dwarfs  Walt Disney Productions
2            0                        Pinocchio  Walt Disney Productions
3            0                         Fantasia  Walt Disney Productions
4            0             The Reluctant Dragon  Walt Disney Productions

                                                   Cuarta Quinta  \
Índice
1       ('December 21; 1937 ( Carthay Circle Theatre ;...     83
2       ('February 7; 1940 ( Center Theatre )'; 'Febru...     88
3                                   ('November 13; 1940')    126
4                                       ('June 20; 1941')     74

                Sexta  Séptima  Octava     Novena
Índice
1       United States  English    83.0  1490000.0
2       United States  English    88.0  2600000.0
3       United States  English   126.0  2280000.0
4       United States  English    74.0   600000.0

Características del DataFrame df_05:
Nombres de las columnas: Index(['Primera', 'Segunda', 'Tercera', 'Cuarta', 'Quinta', 'Sexta', 'Séptima',
       'Octava', 'Novena'],
      dtype='object')
Índice del DataFrame: Int64Index([1, 2, 3, 4], dtype='int64', name='Índice')
Forma del DataFrame (filas, columnas): (4, 9)

## df_06

Seleccione una columna de df_02 que contenga una variable categórica (si no hay variables categóricas cree una columna con variables categóricas a partir de una columna numérica de df_02).

Utilice el método **groupby** para analizar la información de df_02 a partir de la variable categórica seleccionada.

Muestre el resultado y las características del DataFrame.

In [ ]:
# Utiliza groupby para contar registros en cada país
df_06 = df_02.groupby('Sexta').size().reset_index(name='Conteo')

# Muestra el resultado
print(df_06)

# Muestra las características del DataFrame df_06
print("\nCaracterísticas del DataFrame df_06:")
print(f"Nombres de las columnas: {df_06.columns}")
print(f"Índice del DataFrame: {df_06.index}")
print(f"Forma del DataFrame (filas, columnas): {df_06.shape}")
pep8(_ih)

                                               Sexta  Conteo
0  ('United Kingdom'; 'New Zealand'; 'United Stat...       1
1                                      United States       9

Características del DataFrame df_06:
Nombres de las columnas: Index(['Sexta', 'Conteo'], dtype='object')
Índice del DataFrame: RangeIndex(start=0, stop=2, step=1)
Forma del DataFrame (filas, columnas): (2, 2)

## df_07

Cree una tabla dinámica, utilizando el método **pivottable**, para analizar la información de df_02

Muestre el resultado y las características del DataFrame.

In [ ]:
# Utiliza el método pivot_table para crear una tabla dinámica tomando la \
# columna "Segunda", "Tercera" y "Sexta" y los valores de la 'Octava'
df_07 = df_02.pivot_table(index=["Segunda", "Tercera", "Sexta"],
                          values=['Octava'], aggfunc='mean')

# Muestra el resultado
print(df_07)

# Muestra las características del DataFrame df_07
print("\nCaracterísticas del DataFrame df_07:")
print(f"Nombres de las columnas: {df_07.columns}")
print(f"Índice del DataFrame: {df_07.index}")
print(f"Forma del DataFrame (filas, columnas): {df_07.shape}")
pep8(_ih)

                                                                                                                                       Octava
Segunda                         Tercera                                            Sexta
Academy Award Review of         Walt Disney Productions                            United States                                         41.0
Cruella                         ('Walt Disney Pictures'; 'Gunn Films'; 'Marc Pl... United States                                          0.0
Fantasia                        Walt Disney Productions                            United States                                        126.0
Jungle Cruise                   ('Walt Disney Pictures'; 'Davis Entertainment';... United States                                          0.0
Pinocchio                       Walt Disney Productions                            United States                                         88.0
Raya and the Last Dragon        ('Walt Disney Pictures'; 'Walt Disney Animation... United States                                          0.0
Snow White and the Seven Dwarfs Walt Disney Productions                            United States                                         83.0
Soul                            ('Walt Disney Pictures'; 'Pixar Animation Studi... United States                                          0.0
The Beatles: Get Back           0                                                  ('United Kingdom'; 'New Zealand'; 'United States')     0.0
The Reluctant Dragon            Walt Disney Productions                            United States                                         74.0

Características del DataFrame df_07:
Nombres de las columnas: Index(['Octava'], dtype='object')
Índice del DataFrame: MultiIndex([(        'Academy Award Review of', ...),
            (                        'Cruella', ...),
            (                       'Fantasia', ...),
            (                  'Jungle Cruise', ...),
            (                      'Pinocchio', ...),
            (       'Raya and the Last Dragon', ...),
            ('Snow White and the Seven Dwarfs', ...),
            (                           'Soul', ...),
            (          'The Beatles: Get Back', ...),
            (           'The Reluctant Dragon', ...)],
           names=['Segunda', 'Tercera', 'Sexta'])
Forma del DataFrame (filas, columnas): (10, 1)